<launch>

  <!-- Joystick Device Argument-->
  <arg name="dev" default="/dev/input/js0" />

  <!-- Start the Joy Node -->
<!--   <node name="joy_node" pkg="joy"
  type="joy_node" required="true" output="screen">
    <param name="dev" type="string" value="$(arg dev)" />
  </node> -->

  <!-- <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find sawyer_gazebo_env)/media/materials/scripts/gazebo.material" /> -->

  <!-- Demonstration Type Argument: {reaching, pick_n_place} -->
  <arg name="task" default="reaching"/>
  <!-- Controller Type Argument: {joystick, falcon} -->
  <arg name="controller" default="joystick"/>


  <!-- Run the Sawyer Demonstration -->
  <node name="demonstrations" pkg="sawyer_demonstration"
  type="main.py" args="--task $(arg task) --controller $(arg controller)"
  required="true" output="screen" />

</launch>
