<robot
  name="hole">
  <link
    name="hole">
    <inertial>
      <origin
        xyz="2.0446E-17 2.06071906146713E-18 0.06"
        rpy="0 0 0" />
      <mass
        value="1.1404" />
      <inertia
        ixx="0.00250624290146046"
        ixy="-8.70607594712062E-20"
        ixz="3.47553720707697E-21"
        iyy="0.00303424290146046"
        iyz="-1.21847754546837E-20"
        izz="0.00280349691765785" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer-robot-learning/sawyer_gazebo_env/models/hole/hole.STL" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer-robot-learning/sawyer_gazebo_env/models/hole/hole.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="hole">
    <material>Gazebo/Green</material>
     <mu1>1000</mu1>
     <mu2>1000</mu2>
  </gazebo>
</robot>