<robot
  name="semicircle">
  <link
    name="semicircle">
    <inertial>
      <origin
        xyz="0.021221 0.049975 0.025"
        rpy="0 0 0" />
      <mass
        value="0.19635" />
      <inertia
        ixx="0.000163624617374468"
        ixy="-2.24185538437832E-21"
        ixz="-1.0837527584673E-20"
        iyy="7.52052045456377E-05"
        iyz="2.1859504944489E-21"
        izz="0.000157017513232872" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/semicircle/semicircle.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/semicircle/semicircle.STL" />
      </geometry>
    </collision>
  </link>

      <gazebo reference="semicircle">
      <material>Gazebo/Yellow</material>
      <mu1>1000</mu1>
      <mu2>1000</mu2>
  </gazebo>

</robot>
