<robot
  name="cup">
  <link
    name="cup">
    <inertial>
      <origin
        xyz="-9.9575E-18 7.26026876596943E-18 0.067128"
        rpy="0 0 0" />
      <mass
        value="0.43389" />
      <inertia
        ixx="0.00215222675672273"
        ixy="4.23013262131971E-19"
        ixz="9.87388875528404E-20"
        iyy="0.00215222675672273"
        iyz="2.55559321112363E-19"
        izz="0.00206384325221126" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer-robot-learning/sawyer_gazebo_env/models/cup/cup.STL" />
      </geometry>
     <!--  <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material> -->
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer-robot-learning/sawyer_gazebo_env/models/cup/cup.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="cup">
      <material>Gazebo/Red</material>
      <mu1>1000</mu1>
      <mu2>1000</mu2>
  </gazebo>

</robot>