<robot
  name="table">
  <link
    name="table">
    <inertial>
      <origin
        xyz="-1.3868E-18 2.64389972581082E-17 0.58188"
        rpy="0 0 0" />
      <mass
        value="10" />
      <inertia
        ixx="1.75770116451796"
        ixy="-3.6166485463331E-16"
        ixz="3.53511831725085E-17"
        iyy="1.75770116451796"
        iyz="-1.00754931171109E-16"
        izz="1.12058228384598" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/table/table.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/table/table.STL" />
      </geometry>
    </collision>
  </link>

<!--   <gazebo reference="table">
    <sensor name="table_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate> 
      <contact>
        <collision>table_collision</collision>
      </contact>
      <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>/table_contact_sensor_state</bumperTopicName>
        <frameName>table</frameName>
      </plugin>
    </sensor>
  </gazebo> -->
</robot>