<robot
  name="peg_ft">
  <link
    name="peg_ft">
    <inertial>
      <origin
        xyz="-2.7718E-09 -1.10939999995788E-07 0.068783"
        rpy="0 0 0" />
      <mass
        value="0.90076" />
      <inertia
        ixx="0.00132479495101962"
        ixy="-3.08947851208025E-11"
        ixz="1.98248884668973E-10"
        iyy="0.00132478847209438"
        iyz="-4.68340786976969E-09"
        izz="0.000140005814313109" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/peg_ft_fine/peg_ft_fine.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.070"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/peg_ft_coarse/high_res_cylinder.stl" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="peg_ft">
      <material>Gazebo/Grey</material>
      <kp>10000</kp>
      <kd>1000</kd>
      <mu1>0.3</mu1>
      <mu2>0.3</mu2>
  </gazebo>

  <gazebo reference="peg_ft">
    <sensor name="peg_ft_contact_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate> 
      <contact>
        <collision>peg_ft_collision</collision>
      </contact>
      <plugin name="gazebo_ros_bumper_controller_2" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>/peg_ft_contact_sensor_state</bumperTopicName>
        <frameName>peg_ft</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
