<robot name="peg">
  <link name="peg">
    <inertial>
      <origin
        xyz="-8.0017E-19 6.04296429610035E-18 0.045"
        rpy="0 0 0" />
      <mass
        value="0.3" />
      <inertia
        ixx="0.000153414507040739"
        ixy="-6.20385459414771E-21"
        ixz="2.77051221477565E-21"
        iyy="0.000153414507040739"
        iyz="-3.27174372277826E-21"
        izz="6.12087000518338E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer-robot-learning/sawyer_gazebo_env/models/peg/peg.STL" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer-robot-learning/sawyer_gazebo_env/models/peg/peg.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="peg">
    <material>Gazebo/Yellow</material>
     <mu1>1000</mu1>
     <mu2>1000</mu2>
  </gazebo>
</robot>