<robot
  name="plate">
  <link
    name="plate">
    <inertial>
      <origin
        xyz="1.6137E-34 -1.85989588547312E-18 0.0080598"
        rpy="0 0 0" />
      <mass
        value="0.4" />
      <inertia
        ixx="0.00171701092859306"
        ixy="7.8324622016683E-36"
        ixz="-5.04676306316426E-37"
        iyy="0.00171701092859306"
        iyz="1.26377995886907E-19"
        izz="0.00340937986763055" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/plate/plate.STL"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://sawyer_gazebo_env/models/plate/plate.STL" />
      </geometry>
    </collision>
    </link>
    <gazebo reference="plate">
      <material>Gazebo/Grey</material>
      <mu1>1000</mu1>
      <mu2>1000</mu2>
  </gazebo>
</robot>